@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
:root {
    /* var(--color) */ /* 60 30 10 rule */
    --ten: #ff7373;
    --ten-dark: #c75260;
    --thirty: #0fffff;
    --thirty-contrast: #ac4669;
    --sixty: #ffffff;
    font-family: 'Poppins', sans-serif;

    color: black;
}

body {
    margin: 0;
    text-align: center;
    background-color: var(--thirty);
    /*background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('img/bg.png');
    background-attachment: fixed;
    background-size: 320px;
    background-repeat: repeat;
    background-position: center center;*/
}

h2 {
    font-size: 24px;
    text-align: left;
    line-height: 0;
    margin: 42px 0 24px 0;
}

hr {
    background-color: var(--thirty);
    border: none;
    height: 3px;
    margin: 16px 0;
}

/* the entire centered area where all the content is */
#central {
    min-height: 100vh;
    width: 100%;
    max-width: 750px;
    display: inline-block;
    text-align: center;
    background: var(--sixty);
    padding: 0px;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;
}

/* h1 header at top of page */
#header {
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    
    text-align: center;
    font-weight: 600;
    height: 20px;
    line-height: 25px;
    color: var(--thirty-contrast);
    cursor: pointer;
    font-size: 24px;
}

#header span {
    color: var(--ten);
    position: relative;
    padding-left: 36px;
}

#header span span {
    padding-left: 0px; /* gotta counter the span rule that was set above */
    
    border-bottom: 18px solid var(--ten);
    border-left: 10px solid transparent;
    height: 0px;
    width: 1px;
    position: absolute;
    top: 7px;
}

/* specialized buttons */
#back-button, .search-button, .cutebutton {
    transition-duration: 0.2s;
}

/* button at the top of non-index pages */
#back-button {
    background-color: var(--ten);
    border: none;
    margin: 0;
    color: white;
    width: 100%;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#back-button:hover {
    font-weight: 600;
    background-color: var(--ten-dark);
}

/* buttons that navigate, whether on index, or universe, or... */
.search-button {
    font-weight: 600;
    text-align: left;
    background: none;
    border: none;
    width: 100%;
    border-radius: 3px;
    font-size: 15px;
}
            
.search-button:hover {
    background: var(--thirty);
    cursor: pointer;
}

.search-button i {
    margin-right: 8px;
}

.lefted-border .search-button:hover {
    background: var(--thirty-contrast);
    color: var(--thirty);
}

/* buttons on my profile card leading to other websites */
/* might wanna hyphenate to match other buttons */
.cutebutton {
    border: none;
    border-radius: 6px;
    background-color: var(--ten);

    color: var(--sixty);
    font-size: 14px;
    font-weight: 600;

    padding: 6px;
    margin: 2px;

    width: 100%;

    text-align: center;
}

.cutebutton:hover {
    background: var(--ten-dark);
    cursor: pointer;
}

.text-block {
    padding: 12px;
    margin: 12px;
    margin-top: 20px;
    border-radius: 4px;
    font-style: normal;
    font-size: 15px;
    display: block;
    text-align: left;
    background: var(--thirty);
}

.lefted-border {
    border-left: 3px solid var(--ten);
    background: var(--thirty);
}

p {
    /*text-indent: 2em;*/
    text-align: left;
    padding: 0px 10px;
    font-size: 14px;
    
    /*text-align: justify;
    text-justify: inter-word;*/
}
p i {
    text-indent: 0;
}
p .trans {
    color: var(--thirty-contrast);
    background-color: var(--thirty);
    padding: 6px;
    border-radius: 8px;
    width: 100%;
    margin: 10px 0 0 0;
    text-indent: 0;

    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}
p .trans a {
    color: var(--thirty-contrast);
}

a {
    text-decoration: none;
    color: var(--ten);
}
a:hover {
    filter: brightness(80%);
}

/* columns that float next to each other (probably wanna make these ids and not classes...) */
.left-column, .right-column {
    padding: 0 16px;
    margin: 0px;

    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}
.left-column {
    position: relative;
    
    padding-right: 0px;
    float: left;
    width: 67%;
    height: 100%;
    
    overflow: hidden;
    overflow-y: auto;
    
    direction: rtl; /* for scrollbar to be on left */
}
.left-column > :not(marquee) {
    direction: ltr;
}
.right-column {
    float: right;
    width: 33%;
}

/* on smaller screens (1100px wide or less) */
/*
@media screen and (max-width: 1100px) {
    
}
*/
