@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
:root {
    --ten: #60bdfa; /* var(--color) */ /* 60 30 10 rule */
    --thirty: #f3f3f3;
    --thirty-contrast: #666;
    --sixty: #ffffff;
    font-family: 'Poppins', sans-serif;

    color: black;
}

h1 {
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    cursor: default;
}

h2 {
    font-size: 24px;
    text-align: left;
    line-height: 0;
    margin: 42px 0 24px 0;
}

/* buttons on my profile card leading to other websites */
.cutebutton {
    border: none;
    border-radius: 5px;
    background-color: var(--ten);

    color: var(--sixty);
    font-size: 14px;
    font-weight: 600;

    padding: 6px;
    margin: 2px;

    width: 100%;

    text-align: center;

    transition-duration: 0.2s;
    transition-property: background;
}

.cutebutton:hover {
    background: blue;
    cursor: pointer;
}

/* use for translations (those grey boxes) */
.trans {
    padding: 12px;
    margin: 12px;
    margin-top: 20px;
    border-radius: 4px;
    font-style: normal;
    font-size: 15px;
    display: block;
    text-align: left;
    background: var(--thirty);
}
/*i:before {
    content: "\a";
    white-space: pre-wrap;
}*/

p {
    text-indent: 2em;
    text-align: left;
    padding: 0px 10px;
    font-size: 14px;
    /*text-align: justify;
    text-justify: inter-word;*/
}
p i {
    text-indent: 0;
}
p .trans {
    color: var(--thirty-contrast);
    background-color: var(--thirty);
    padding: 6px;
    border-radius: 8px;
    width: 100%;
    margin: 10px 0 0 0;
    text-indent: 0;

    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}
p .trans a {
    color: var(--thirty-contrast);
}

a {
    text-decoration: none;
    color: var(--ten);
}
a:hover {
    filter: brightness(80%);
}

/* image board */
#insert-here img {
    width: 100%;
    border-radius: 4px;
}

/*
#insert-here img:hover {
    cursor: pointer;
}
*/

/* navbar */
ul {
    font-size: 16px;

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--thirty);
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 10;
}
li {
    float: left;
}
li a {
    transition-duration: 0.2s;
    display: block;
    color: var(--thirty-contrast);
    text-align: center;
    padding: 8px 20px;
    text-decoration: none;
    line-height: 21px;
}
li a:hover:not(.active) {
    background-color: #ddd;
}
li a.active {
    color: white;
    background-color: var(--ten);
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 0;
    width: auto;
    padding: 16px;
    margin-top: 0px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
    height: 100%;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* columns that float next to each other */
.left-column, .right-column {
    padding: 16px;
    margin: 0px;

    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}
.left-column {
    padding-right: 0px;
    float: left;
    width: 67%;
}
.right-column {
    float: right;
    width: 33%;
}
/* makes the columns stack on top of each other instead of next to each other on smaller screens (600px wide or less) */
@media screen and (max-width: 600px) {
    .left-column, .right-column {
        width: 100%;
    }
    .left-column .wide-display-only, .right-column .wide-display-only { /* left doesn't have anything wide-display-only, but just in case */
        display: none;
    }
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 20;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: var(--sixty);
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
}

.modal-content p {
    font-size: 18px;
    line-height: 2;
}

/* The Close Button */
.close {
    color: var(--sixty);
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
    transition-duration: 0.25s;
}

.close:hover, .close:focus {
    color: var(--thirty);
    text-decoration: none;
    cursor: pointer;
    transform: rotate(90deg);
}

/* Hide the slides by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 0;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    user-select: none;
    -webkit-user-select: none;

    background-color: rgba(0, 0, 0, 0.3);
}

/* Position the "prev button" to the left */
.prev {
    left: 0;
    border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
    color: black;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    left: 42px;
}
